@import "bourbon/bourbon"

#register-wrapper
  text-align: center
  height: 100%

  .wrapper
    display: inline-block

    .register-panel
      padding: 30px 50px

    .column
      text-align: center

    .row
      margin: 15px 0px

      .error
        .label
          background-color: rgb(219,177,177)
          // color: rgb(255,240,240)
      .label
        .icon
          margin: 0px 3px

      .image-uploader
        $size: 150px
        margin: auto auto
        height: $size
        width: $size
        background-color: rgb(250,250,250)
        border-radius: 100%
