.view-wrapper {
  min-height: 100%;
  height: 100%; }

#messenger-chat {
  padding: 50px 50px;
  padding-bottom: 70px;
  overflow: scroll;
  height: 100%; }
  #messenger-chat .message-wrapper {
    float: right;
    clear: both;
    max-width: 45%; }
    #messenger-chat .message-wrapper .message {
      max-width: 100%;
      font-size: 1.2em;
      word-break: break-all;
      overflow-wrap: break-word;
      -webkit-hyphens: auto;
         -moz-hyphens: auto;
          -ms-hyphens: auto;
              hyphens: auto;
      white-space: pre;
      display: inline;
      padding: 10px 10px;
      margin-bottom: 30px;
      background-color: #C8F7C5;
      border-radius: 5px;
      display: inline-block; }
    #messenger-chat .message-wrapper .sent-time {
      vertical-align: middle;
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      color: white;
      font-size: 1em; }
  #messenger-chat .message-wrapper.other-message {
    float: left; }
    #messenger-chat .message-wrapper.other-message .avatar {
      border-radius: 100%; }
    #messenger-chat .message-wrapper.other-message .message {
      vertical-align: middle;
      background-color: white;
      margin-left: 20px; }

#message-type-box {
  position: fixed;
  bottom: 0;
  padding: 17px 10px;
  padding-left: 75px;
  margin-left: -2%;
  background-color: white;
  height: 60px;
  width: 98%;
  opacity: 0.8; }
  #message-type-box textarea.type-box {
    box-sizing: border-box;
    font-size: 1.2em;
    width: 67%;
    height: auto;
    border-collapse: collapse;
    border: none;
    outline: none;
    resize: none; }
  #message-type-box #send-button {
    position: fixed;
    bottom: 13px;
    right: 425px; }


#login-wrapper {
  text-align: center;
  height: 100%; }
  #login-wrapper .wrapper {
    display: inline-block; }
    #login-wrapper .wrapper .login-panel {
      padding: 30px 50px; }
    #login-wrapper .wrapper .column {
      text-align: center; }
    #login-wrapper .wrapper .row {
      margin: 15px 0px; }
      #login-wrapper .wrapper .row .error .label {
        background-color: #dbb1b1; }
      #login-wrapper .wrapper .row .label .icon {
        margin: 0px 3px; }

body {
  background-image: url("/img/background/blurred_bg.jpg");
  background-size: 100%; }

#messenger-wrapper {
  height: 100%;
  margin: 0px;
  opacity: 0.9; }
  #messenger-wrapper .main-nav {
    border-left: 1px solid white; }
  #messenger-wrapper .main-layout {
    padding: 0px;
    white-space: nowrap; }
  #messenger-wrapper .column {
    height: 100%; }
  #messenger-wrapper .messenger-list {
    padding: 0px 30px;
    overflow: scroll;
    min-width: 400px;
    display: inline-block; }
    #messenger-wrapper .messenger-list .content {
      height: 100%; }
    #messenger-wrapper .messenger-list .card:hover {
      background-color: #fafafa; }
    #messenger-wrapper .messenger-list .card {
      width: 100%;
      margin: 30px 0px;
      border-radius: 5px;
      padding: 2rem;
      -webkit-transition: background-color 0.2s;
      transition: background-color 0.2s; }
      #messenger-wrapper .messenger-list .card .image {
        display: inline-block;
        height: 75px;
        width: 75px;
        margin-right: 40px; }
      #messenger-wrapper .messenger-list .card .text {
        display: inline-block; }
  #messenger-wrapper .nav {
    right: 0px;
    padding: 0px;
    height: 100%;
    border-radius: 0px;
    border-size: 0px 0px 0px 1px;
    max-width: 350px;
    min-width: 150px;
    width: 25% !important; }
    #messenger-wrapper .nav h3 {
      padding: 1.5rem; }
    #messenger-wrapper .nav .avatar-wrapper {
      width: 100%;
      position: absolute;
      bottom: 0px;
      padding: 3rem; }
      #messenger-wrapper .nav .avatar-wrapper .avatar {
        width: 100%;
        height: auto;
        max-width: 180px;
        max-height: 180px;
        border-radius: 100%;
        background-color: #fafafa;
        margin: 1.5rem auto; }
      #messenger-wrapper .nav .avatar-wrapper .name {
        text-align: center; }
        #messenger-wrapper .nav .avatar-wrapper .name .browse {
          display: inline-block; }
        #messenger-wrapper .nav .avatar-wrapper .name .popup .header {
          margin: 0px;
          padding: 0px;
          font-weight: normal; }
        #messenger-wrapper .nav .avatar-wrapper .name .popup .list a {
          font-size: 1.5rem;
          font-weight: bold; }

#register-wrapper {
  text-align: center;
  height: 100%; }
  #register-wrapper .wrapper {
    display: inline-block; }
    #register-wrapper .wrapper .register-panel {
      padding: 30px 50px; }
    #register-wrapper .wrapper .column {
      text-align: center; }
    #register-wrapper .wrapper .row {
      margin: 15px 0px; }
      #register-wrapper .wrapper .row .error .label {
        background-color: #dbb1b1; }
      #register-wrapper .wrapper .row .label .icon {
        margin: 0px 3px; }
      #register-wrapper .wrapper .row .image-uploader {
        margin: auto auto;
        height: 150px;
        width: 150px;
        background-color: #fafafa;
        border-radius: 100%; }
