.view-wrapper {
  min-height: 100%;
  height: 100%; }

.messenger-list {
  overflow: hidden; }

#group-label {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  padding: 10px 20px;
  z-index: 9999;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7); }

#messenger-chat {
  padding: 50px 50px;
  padding-bottom: 70px;
  overflow: auto;
  height: 100%; }
  #messenger-chat .message-wrapper {
    float: right;
    clear: both;
    max-width: 50%; }
    #messenger-chat .message-wrapper .message {
      max-width: 88%;
      font-size: 1.2em;
      word-break: break-all;
      overflow-wrap: break-word;
      white-space: pre;
      display: inline;
      padding: 10px 10px;
      margin-bottom: 30px;
      background-color: #C8F7C5;
      border-radius: 5px;
      display: inline-block; }
    #messenger-chat .message-wrapper .sent-time {
      vertical-align: middle;
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      color: white;
      font-size: 1em; }
  #messenger-chat .message-wrapper.other-message {
    float: left; }
    #messenger-chat .message-wrapper.other-message .avatar {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: center;
         object-position: center;
      vertical-align: middle;
      -webkit-transition: opacity .5s ease;
              transition: opacity .5s ease; }
      #messenger-chat .message-wrapper.other-message .avatar:hover {
        opacity: 0.6; }
    #messenger-chat .message-wrapper.other-message .message {
      background-color: white;
      margin-left: 20px; }

#message-type-box {
  position: fixed;
  bottom: 0;
  padding: 17px 10px;
  padding-left: 75px;
  margin-left: -2%;
  background-color: white;
  height: 60px;
  width: 98%;
  opacity: 0.8; }
  #message-type-box textarea.type-box {
    box-sizing: border-box;
    font-size: 1.2em;
    width: 60%;
    height: auto;
    border-collapse: collapse;
    border: none;
    outline: none;
    resize: none; }
  #message-type-box #send-button {
    position: absolute;
    bottom: 13px;
    right: 400px; }

#groups-wrapper .group-card {
  display: inline-block;
  float: left;
  position: relative;
  margin: 30px 15px;
  background-color: white;
  word-break: break-all;
  overflow-wrap: break-word;
  white-space: pre;
  padding: 0 14px;
  width: 30%;
  height: 300px;
  border-radius: 30px;
  -webkit-transition: opacity .5s ease;
          transition: opacity .5s ease;
  opacity: 0.6; }
  #groups-wrapper .group-card:hover {
    opacity: 1; }
  #groups-wrapper .group-card .group.circular {
    margin: 30px auto;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 1px solid #C5EFF7;
    background-color: #2574A9;
    color: #ECF0F1;
    font-size: 5em;
    text-align: center;
    padding-top: 8%; }
  #groups-wrapper .group-card .text {
    displat: inline-block;
    text-align: center;
    font-size: 2em;
    color: #2C3E50; }
  #groups-wrapper .group-card .floating.ui {
    font-size: 1.2em; }

#login-wrapper {
  text-align: center;
  height: 100%; }
  #login-wrapper .wrapper {
    display: inline-block; }
    #login-wrapper .wrapper .login-panel {
      padding: 30px 50px; }
    #login-wrapper .wrapper .column {
      text-align: center; }
    #login-wrapper .wrapper .row {
      margin: 15px 0px; }
      #login-wrapper .wrapper .row .error .label {
        background-color: #dbb1b1; }
      #login-wrapper .wrapper .row .label .icon {
        margin: 0px 3px; }

body {
  background-image: url("/img/background/blurred_bg.jpg");
  background-size: 100%; }

#messenger-wrapper {
  height: 100%;
  margin: 0px;
  opacity: 0.9; }
  #messenger-wrapper .main-nav {
    border-left: 1px solid white; }
  #messenger-wrapper .main-layout {
    padding: 0px;
    white-space: nowrap; }
  #messenger-wrapper .column {
    height: 100%; }
  #messenger-wrapper .messenger-list {
    padding: 0px 30px;
    overflow: scroll;
    min-width: 400px;
    display: inline-block; }
    #messenger-wrapper .messenger-list .content {
      height: 100%; }
    #messenger-wrapper .messenger-list .card:hover {
      background-color: #fafafa; }
    #messenger-wrapper .messenger-list .card {
      width: 100%;
      margin: 30px 0px;
      border-radius: 5px;
      padding: 2rem;
      -webkit-transition: background-color 0.2s;
      transition: background-color 0.2s; }
      #messenger-wrapper .messenger-list .card .image {
        display: inline-block;
        height: 75px;
        width: 75px;
        margin-right: 40px; }
      #messenger-wrapper .messenger-list .card .text {
        display: inline-block; }
  #messenger-wrapper .nav {
    right: 0px;
    padding: 0px;
    height: 100%;
    border-radius: 0px;
    border-size: 0px 0px 0px 1px;
    max-width: 350px;
    min-width: 150px;
    width: 25% !important; }
    #messenger-wrapper .nav h3 {
      padding: 1.5rem; }
    #messenger-wrapper .nav .avatar-wrapper {
      width: 100%;
      position: absolute;
      bottom: 0px;
      padding: 3rem; }
      #messenger-wrapper .nav .avatar-wrapper .avatar {
        width: 100%;
        height: auto;
        max-width: 180px;
        max-height: 180px;
        border-radius: 100%;
        background-color: #fafafa;
        margin: 1.5rem auto; }
      #messenger-wrapper .nav .avatar-wrapper .name {
        text-align: center; }
        #messenger-wrapper .nav .avatar-wrapper .name .browse {
          display: inline-block; }
        #messenger-wrapper .nav .avatar-wrapper .name .popup .header {
          margin: 0px;
          padding: 0px;
          font-weight: normal; }
        #messenger-wrapper .nav .avatar-wrapper .name .popup .list a {
          font-size: 1.5rem;
          font-weight: bold; }

#register-wrapper {
  text-align: center;
  height: 100%; }
  #register-wrapper .dz-preview {
    display: none; }
  #register-wrapper .wrapper {
    display: inline-block; }
    #register-wrapper .wrapper .register-panel {
      padding: 30px 50px; }
    #register-wrapper .wrapper .column {
      text-align: center; }
    #register-wrapper .wrapper .row {
      margin: 15px 0px; }
      #register-wrapper .wrapper .row .error .label {
        background-color: #dbb1b1; }
      #register-wrapper .wrapper .row .label .icon {
        margin: 0px 3px; }
      #register-wrapper .wrapper .row .image-uploader {
        overflow: hidden;
        position: relative;
        margin: auto auto;
        height: 150px;
        width: 150px;
        background-color: #fafafa;
        border-radius: 100%;
        -webkit-transition: background-color 0.25s;
        transition: background-color 0.25s; }
        #register-wrapper .wrapper .row .image-uploader h5 {
          position: absolute;
          top: 0px;
          z-index: 10;
          width: 100%;
          height: 100%; }
        #register-wrapper .wrapper .row .image-uploader .image-preview {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 150px; }
      #register-wrapper .wrapper .row .image-uploader.dragover {
        background-color: #e6e6e6; }
