doctype html
html(ng-app="app", lang="th")
  head
    meta(charset="utf-8")
    title Chatroomjs.io

    //- CSS
    link(rel="stylesheet" href="bower/semantic/dist/semantic.min.css")
    link(rel="stylesheet" href="css-concat/app.css")

    //- Jquery Core
    script(src="bower/jquery/dist/jquery.min.js")
    script(src="socket.io/socket.io.js")

    //- Velocity Animation Library
    script(src="bower/velocity/velocity.min.js")
    script(src="bower/velocity/velocity.ui.min.js")

    //- Semantic UI
    script(src="bower/semantic/dist/semantic.min.js")

    //- jsHashes
    script(src="bower/jshashes/hashes.min.js")
  body
    section.view-wrapper(
        ui-view=""
        class=" velocity-enter-transition-slideDownIn \
                velocity-leave-transition-fadeOut")

    //- Angular things
    script(src="bower/angular/angular.min.js")
    script(src="bower/angular-socket-io/socket.min.js")
    script(src="bower/angular-ui-router/release/angular-ui-router.min.js")

    script(src="bower/angular-animate/angular-animate.min.js")
    script(src="bower/angular-velocity/angular-velocity.js")
    script(src="bower/angular-file-upload/angular-file-upload.min.js")
    //- script(src="bower/ng-file-upload/ng-file-upload-all.min.js")
    //- script(src="bower/ng-file-upload/FileAPI.min.js")

    //- app.js
    script(src="js-concat/app.js")

