script.
	$('.avatar').popup();

#messenger-chat
	.message-wrapper.other-message
		img.ui.avatar(data-title="ibosz" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/p50x50/10991376_10153081313289814_298485608797890658_n.jpg?oh=165c63ff1b44bc18e3bee0f5d9666b64&oe=55A32BAD&__gda__=1436492738_4a0aba731483c5bd14832789b1361d2c")
		.message
			| Hi img.ui.avatar xdvml;x lk nxlcn  no nlkn 'lj bn' ljn lj b'oj bol n 'ojn kj b jb' ojnb' oln 
		.sent-time
			| 00.12
	.message-wrapper.other-message
		img.ui.avatar(data-title="ibosz" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/p50x50/10991376_10153081313289814_298485608797890658_n.jpg?oh=165c63ff1b44bc18e3bee0f5d9666b64&oe=55A32BAD&__gda__=1436492738_4a0aba731483c5bd14832789b1361d2c")
		.message
			| Kuy eiei
		.sent-time
			| 00.13
	.message-wrapper
		.sent-time
			| 00.13
		.message
			| manggg
	.message-wrapper
		.sent-time
			| 00.14
		.message
			| manggg
	.message-wrapper.other-message
		img.ui.avatar(data-title="ibosz" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/p50x50/10991376_10153081313289814_298485608797890658_n.jpg?oh=165c63ff1b44bc18e3bee0f5d9666b64&oe=55A32BAD&__gda__=1436492738_4a0aba731483c5bd14832789b1361d2c")
		.message
			| Hi
		.sent-time
			| 00.14
	.message-wrapper.other-message
		img.ui.avatar(data-title="ibosz" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/p50x50/10991376_10153081313289814_298485608797890658_n.jpg?oh=165c63ff1b44bc18e3bee0f5d9666b64&oe=55A32BAD&__gda__=1436492738_4a0aba731483c5bd14832789b1361d2c")
		.message
			| Kuy eiei
		.sent-time
			| 03.10
	.message-wrapper.other-message
		img.ui.avatar(data-title="ibosz" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/p50x50/10991376_10153081313289814_298485608797890658_n.jpg?oh=165c63ff1b44bc18e3bee0f5d9666b64&oe=55A32BAD&__gda__=1436492738_4a0aba731483c5bd14832789b1361d2c")
		.message
			| manggg
		.sent-time
			| 03.55
	.message-wrapper
		.sent-time
			| 04.21
		.message
			| manggg
	.message-wrapper.other-message
		img.ui.avatar(data-title="ibosz" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/p50x50/10991376_10153081313289814_298485608797890658_n.jpg?oh=165c63ff1b44bc18e3bee0f5d9666b64&oe=55A32BAD&__gda__=1436492738_4a0aba731483c5bd14832789b1361d2c")
		.message
			| Hi
		.sent-time
			| 04.21
	.message-wrapper.other-message
		img.ui.avatar(data-title="ibosz" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/p50x50/10991376_10153081313289814_298485608797890658_n.jpg?oh=165c63ff1b44bc18e3bee0f5d9666b64&oe=55A32BAD&__gda__=1436492738_4a0aba731483c5bd14832789b1361d2c")
		.message
			| Kuy eiei
		.sent-time
			| 04.21
	.message-wrapper
		.sent-time
			| 04.21
		.message
			| mangg
	.message-wrapper.other-message
		img.ui.avatar(data-title="ibosz" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/p50x50/10991376_10153081313289814_298485608797890658_n.jpg?oh=165c63ff1b44bc18e3bee0f5d9666b64&oe=55A32BAD&__gda__=1436492738_4a0aba731483c5bd14832789b1361d2c")
		.message
			| manggg
		.sent-time
			| 04.21




#message-type-box
	textarea.type-box
	#send-button.ui.teal.button
		| Send
