div#groups-wrapper.ui.grid.animated.fadeIn
  div.main-layout.two.column.row
    div.groups-list.column.animated.fadeIn(
      list-column)
      div.ui.card
        div.content
          img.ui.avatar.image
          div.text
            h3.header Header
            div.description
              | Description

    div#main-nav.nav.column.ui.vertical.menu.animated.fadeIn
      a.active.teal.item
        h3
          i.list.icon
          | All
      a.item
        h3
          i.add.icon
          | Create
      a.item
        h3
          i.remove.icon
          | Leave

      div.avatar-wrapper
        img.avatar

        div.name
          h4 Konpat Preechakul



